.card {
    background: linear-gradient(to right, #5f2c82, #49a09d);
    cursor: pointer;

    &.card::after {
        content: "";
        position: absolute;
        top: 20px;
        right: 12px;
        height: 25px;
        width: 25px;
        z-index: -1;
        transform: rotate(45deg);
        transition: .3s;
    }

}

.info {
    background-color: #fff;
    padding: 5px;

}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}